<!DOCTYPE html>
<html class="han-la">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>小脚印 &#8211; YuLin.霖~</title>



    <link rel='stylesheet' href='__PUBLIC__/static/index/css/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='__PUBLIC__/static/index/css/wpctc.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='__PUBLIC__/static/index/css/font-awesome.min.css' type='text/css' media='all' />

    <script type='text/javascript' src='__PUBLIC__/static/index/js/jquery.js'></script>


    <script type='text/javascript'>
        var ajax = {
            "fly1": "4",
            "fly2": "6"
        };
    </script>
</head>

<body class="nav-open">
    <div id="wrap">
        <div id="preheader"></div>
        <header id="header" class="clearfix">
            <div class="head">
                <h1><a href="index.html">YuLin.霖~</a></h1>
                <p class="desc yahei"> <span class="saying-title">
                    我在小溪边捉螃蟹~                </span>
                </p>
            </div>
            <nav id="main-nav" class="clearfix yahei">
                <ul id="menu" class="nav">
                    <li class="menu-item"><a title="" href="{:url('index/index')}?page=1">首页</a>
                    </li>
                    <li class="menu-item current-menu-item"><a title="" href="{:url('index/footer')}?page=2">小脚印</a>
                    </li>
                    <li class="menu-item"><a title="" href="{:url('index/about')}?page=3">关于我~</a>
                    </li>
                    <li class="menu-item"><a title="" href="{:url('index/message')}?page=4">留言板</a>
                    </li>
                </ul>
            </nav>
            <div id="announcement"> <span><i class="fa fa-star"></i></span></div>
        </header>
        <div id="container" class="clearfix">
            <div id="content">
                <div class="post-template-default single single-post postid-116 single-format-standard elementor-default">
                    <article class="post-116 post type-post status-publish format-standard hentry category-javascript category-7 tag-js tag-19">
                        <header class="entry-header detail-page">
                            <h2 class="entry-name">
                                <a href="'__PUBLIC__/static/index/mk/queryurlparameter.html" rel="bookmark">获取URL传递的参数值queryURLParameter的几个实现方法</a>
                            </h2>
                            <ul class="entry-meta">
                                <li class="time_meta"><i class="fa fa-clock-o"></i> 2018-01-28 20:36</li>
                                <li class="cat_meta"><i class="fa fa-pencil-square-o"></i>  <a href="#" rel="category tag">JavaScript</a>,<a href="#" rel="category tag">前端</a>
                                </li>
                                <li class="comments_meta"><i class="fa fa-comments-o"></i>  <a href="#">暂无评论</a>
                                </li>
                                <li class="views_meta"><i class="fa fa-eye"></i>  <a>100 访问量</a>
                                </li>
                            </ul>
                        </header>
                        <div class="entry-content" itemprop="description">
                            <div id="mk-auto">
                                <iframe id="MK" name="MK" src="__PUBLIC__/static/index/mk/queryURLParameter.html" width="100%" scrolling="No" frameborder="0" border="0"></iframe>
                            </div>
                        </div>
                        <footer class="entry-footer clearfix"> <span class="tag-links"><a href="#" rel="tag">JavaScript</a><a href="#" rel="tag">前端</a></span>
                            <div class="post-share"> <a href="javascript:;"><i class="fa fa-share-alt"></i> 分享</a>
                                <ul>
                                    <li><a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=https://www.byxll.cn/queryurlparameter/&title=获取URL传递的参数值queryURLParameter的几个实现方法" target="_blank"><i class="fa fa-qq"></i></a>
                                    </li>
                                    <li><a href="http://service.weibo.com/share/share.php?title=获取URL传递的参数值queryURLParameter的几个实现方法&url=https://www.byxll.cn/queryurlparameter/" target="_blank"><i class="fa fa-weibo"></i></a>
                                    </li>
                                    <li><a href="http://share.renren.com/share/buttonshare?link=https://www.byxll.cn/queryurlparameter/&title=获取URL传递的参数值queryURLParameter的几个实现方法" target="_blank"><i class="fa fa-renren"></i></a>
                                    </li>
                                    <li><a href="http://twitter.com/share?url=https://www.byxll.cn/queryurlparameter/&text=获取URL传递的参数值queryURLParameter的几个实现方法" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-love"> <a href="javascript:;" data-action="ding" data-id="116" class="favorite post-love-link " title="点个赞"><i class="fa fa-heart-o"></i>
            <span class="love-count">
                2            </span></a>
                            </div>
                        </footer>
                        <div class="prev-next clearfix">
                            <div class="prev"> <span class="prev_text"><a href="#" rel="prev">上一篇</a></span>
                                <span class="prev_link"><a href="#" rel="prev">JS基础知识-switch case</a></span>
                            </div>
                            <div class="next"> <span class="next_link"><a href="#" rel="next">字符串中常用的方法</a></span>
                                <span class="next_text"><a href="#" rel="next">下一篇</a></span>
                            </div>
                        </div>
                    </article>
                    
                    <div class="relatedpost box clearfix">
                        <h3 class="relatedtitle"><span>相关文章</span></h3>
                        <ul>
                            <li> <i class="fa fa-file-text-o"></i>
                                <a href="#">移动端-毕业怀旧页面</a>
                            </li>
                            <li> <i class="fa fa-file-text-o"></i>
                                <a href="#">字符串中常用的方法</a>
                            </li>
                        </ul>
                    </div>
                    <div class="comments clearfix box" id="comments">
                        <h5 id="comments-title"><span>评论区</span></h5>
                        {foreach $comments as $vo2}
                        <div class="commentshow">
                            <ol class="comments-list">
                                <li class="comment even thread-even depth-1" id="li-comment-2">

                                    <article id="comment-2" class="comment-body">
                                        <div class="comment-author vcard">
                                            <svg class="avatar avatar-40 photo" width="40" height="40"
                                                data-jdenticon-hash="03cf4f0a63cbcbf159f68b475e42b5bcede9bb11"
                                                viewBox="0 0 40 40" preserveAspectRatio="xMidYMid meet">
                                                <path fill="#d175bd"
                                                    d="M20 4L20 12L12 12ZM28 12L20 12L20 4ZM20 36L20 28L28 28ZM12 28L20 28L20 36ZM12 12L12 20L4 20ZM36 20L28 20L28 12ZM28 28L28 20L36 20ZM4 20L12 20L12 28ZM14 14L19 14L19 19L14 19ZM26 14L26 19L21 19L21 14ZM26 26L21 26L21 21L26 21ZM14 26L14 21L19 21L19 26Z">
                                                </path>
                                                <path fill="#e8bade"
                                                    d="M12 4L12 12L4 12ZM36 12L28 12L28 4ZM28 36L28 28L36 28ZM4 28L12 28L12 36Z">
                                                </path>
                                            </svg> </div>
                                        <div class="comment-content">

                                            <div class="comment-metadata">
                                                <b class="fn">{$vo2.reviewers}</b>
                                                <time datetime="2018/07/27 22:15">{$vo2.commtime}</time>
                                            </div>
                                            <div class="comment_text">
                                                <p>{$vo2.content}</p>
                                            </div>
                                            
                                        </div>
                                    </article>

                                    {notempty name="$vo2.reply"}
                                    <ol class="children">
                                        <li class="comment byuser comment-author-by_xll bypostauthor odd alt depth-2"
                                            id="li-comment-4">

                                            <article id="comment-4" class="comment-body">
                                                <div class="comment-author vcard">
                                                    <img src="http://cdn.byxll.cn/images/portrait.jpg"
                                                        class="avatar avatar-40 photo" height="40" width="40"> </div>
                                                <div class="comment-content">
                                                    <div class="comment-metadata">
                                                        <b class="fn">By_XLL</b>
                                                        <time>{$vo2.commtime}</time>
                                                    </div>
                                                    <div class="comment_text">
                                                        <p>{$vo2.reply}</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </li>
                                    </ol>
                                    {/notempty}
                                </li>
                            </ol>
                            <nav class="commentnav" data-postid="7"></nav>
                        </div>
                        {/foreach}
                        <div id="respond" class="comment-respond">
                            <h5 id="replytitle" class="comment-reply-title">发表一条评论 </h5>
                            <div action="#" method="post" id="commentform" class="clearfix"></form>
                                <p class="input-row replay_author">
                                    <input type="text" name="author" class="text_input" id="author" size="22" tabindex="1" placeholder="昵称 *">
                                </p>
                                <p class="input-row message-row">
                                    <textarea class="text_area" rows="3" cols="80" name="comment" id="comment" tabindex="4" placeholder="欢迎在这里畅所欲言..."></textarea>
                                </p>
                                <input type="submit" name="submit" class="button" id="submit" tabindex="5" value="提交评论">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="sidebar">
                <aside class="widget mzw_search">
                    <form id="searchform" class="searchform" action="127.0.0.1" method="GET">
                        <div>
                            <input name="s" id="s" size="15" placeholder="输入关键字" type="text">
                            <input value="站内搜索" type="submit">
                        </div>
                    </form>
                </aside>
                <aside class="widget mzw_admin">
                    <img src="__PUBLIC__/static/index/picture/bg_small_1.jpg">
                    <div class="author-body">
                        <div class="author_img">
                            <img src="__PUBLIC__/static/index/picture/portrait_1.jpg" class="avatar avatar-80 photo" height="80" width="80">
                        </div>
                        <div class="author_bio">
                            <h3>By_XLL </h3>
                            <p class="muted">YuLin.霖~，桂中山区里的一个山里娃</p>
                        </div>
                    </div>
                    <div class="social"><a rel="nofollow" target="_blank" class="mail" href="by_xll@163.com"><i class="fa fa-envelope"></i></a><a rel="nofollow" target="_blank" class="github" href="https://github.com/ByXLL"><i class="fa fa-github"></i></a>
                    </div>
                </aside>
                <aside class="widget widget_wpctc_widget">
                    <h3 class="widget-title"><span>网站云图</h3>
                    </span>
                    <div id="wpctc_widget-3-tagcloud" class='wpctc-wpctc_widget-3       wpctc-array'>
                        <canvas id="wpctc_widget-3_canvas" class="tagcloud-canvas" data-tagcloud-color="" data-tagcloud-bordercolor="#ffff99" data-cloud-font=null data-cloud-radiusx="1" data-cloud-radiusy="1" data-cloud-radiusz="1" data-cloud-zoom=1></canvas>
                    </div>
                    <div id="wpctc_widget-3_canvas_tags">
                        <ul>
                            <li><a href="#" class="tag-cloud-link tag-link-16 tag-link-position-1" style="font-size: 189.1975308642%;" aria-label="JavaScript (10个项目)">JavaScript</a>
                            </li>
                            <li><a href="#" class="tag-cloud-link tag-link-19 tag-link-position-2" style="font-size: 200%;" aria-label="前端 (12个项目)">前端</a>
                            </li>
                            <li><a href="#" class="tag-cloud-link tag-link-20 tag-link-position-3" style="font-size: 121.2962962963%;" aria-label="华为 (3个项目)">华为</a>
                            </li>
                            <li><a href="#" class="tag-cloud-link tag-link-22 tag-link-position-4" style="font-size: 102.77777777778%;" aria-label="服务器 (2个项目)">服务器</a>
                            </li>
                            <li><a href="#" class="tag-cloud-link tag-link-23 tag-link-position-5" style="font-size: 75%;" aria-label="网络技术 (1个项目)">网络技术</a>
                            </li>
                            <li><a href="#" class="tag-cloud-link tag-link-24 tag-link-position-6" style="font-size: 102.77777777778%;" aria-label="项目 (2个项目)">项目</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <aside class="widget widget_mzw_siderbar_post">
                    <h3 class="widget-title"><span>文章推荐</h3>
                    </span>
                    <div class="smart_post">
                        <ul>
                          <li class="clearfix">
                              <div class="post-thumb">
                                  <a href="#">
                                      <img class="rounded" src="__PUBLIC__/static/index/picture/4.jpg" title="字符串中常用的方法" alt="字符串中常用的方法" width="45" height="45" />
                                  </a>
                              </div>
                              <div class="post-right">
                                  <h3><a href="#">字符串中常用的方法</a></h3>
                                  <div class="post-meta"><span><a href="#">暂无评论</a></span> | <span>13 访问量</span>
                                  </div>
                              </div>
                          </li>
                            <li class="clearfix">
                                <div class="post-thumb">
                                    <a href="#">
                                        <img class="rounded" src="__PUBLIC__/static/index/picture/4.jpg" title="字符串中常用的方法" alt="字符串中常用的方法" width="45" height="45" />
                                    </a>
                                </div>
                                <div class="post-right">
                                    <h3><a href="#">字符串中常用的方法</a></h3>
                                    <div class="post-meta"><span><a href="#">暂无评论</a></span> | <span>13 访问量</span>
                                    </div>
                                </div>
                            </li>
                      
                        </ul>
                    </div>
                </aside>

                <aside class="widget_text widget widget_custom_html">
                    <h3 class="widget-title"><span>~0.0~ 帮忙喂下我的小仓鼠 啦啦啦 ^_^</h3>
                    </span>
                    <div class="textwidget custom-html-widget">
                        <div class="hamster" style="text-align:center;"> 
                        <embed allowscriptaccess="never" allownetworking="internal" invokeurls="false" src="__PUBLIC__/static/index/images/hamster.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" quality="high" autostart="0" wmode="transparent" align="middle" style="width: 100%;height: 14rem;">
                        </div>
                    </div>
                </aside>
            </div>













        </div>
        <footer id="footer" class="yahei clearfix"> <a class="left saying-bottom">
                生活不止眼前的苟且，还有诗和远方。加油陌生人！            </a>
            <p class="right">桂ICP备18003293号</a>.</p>
        </footer>
    </div>
    <img id="qrimg" src="" /> <a id="qr" href="javascript:;"><i class="fa fa-qrcode"></i></a>
    <a id="gotop" title="点击返回页顶" href="javascript:;"><i class="fa fa-arrow-up"></i></a>



    <script type='text/javascript' src='__PUBLIC__/static/index/js/jquery.tagcanvas.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/wpctc.tagcanvas.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/jquery.style.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/wp-category-tag-cloud.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/jquery.flexslider-min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/global.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/mk.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/tag.pw_custom.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/slimbox2.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/ajax.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/autospace.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/jdenticon.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/mediaelement-and-player.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/mediaelement-migrate.min.js'></script>
    <script type='text/javascript' src='__PUBLIC__/static/index/js/wp-mediaelement.min.js'></script>

</body>

</html>
